version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: mi_mongo_local
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:latest
    container_name: mi_redis_local
    ports:
      - "6379:6379"

volumes:
  mongo_data: